        .product-search {
            display: flex;
            justify-content: space-between;
        }
        
        .product-search-actions {
            padding: 0 1rem;
        }
        
        .product-search-actions button {
            margin: 0 0.5rem;
        }
        
        .product-search-container {
            position: absolute;
            top: 1vw;
            display: flex;
            width: 100%;
            justify-content: center;
        }
        
        .product-info {
            display: flex;
            justify-content: center;
        }
        
        .product-info .product-container {
            width: 50vw;
        }
        
        .product-search-actions button {
            width: 3rem;
            height: 2rem;
        }
        
        .product-search-actions button:disabled {
            cursor: default;
        }
        
        .shopping-product-container {
            display: grid;
            grid-template-columns: 0.80fr 0.15fr;
        }
        
        .product-search-loading {
            position: absolute;
        }